@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #080808;
  color: #e0e3e3;
  margin: 20px;
  padding: 0;
}

.container {
  max-width: 800px;
  background: #0d1117;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.header {
  text-align: center;
}

img {
  border-radius: 50%;
  border: 3px solid #74b2ff;
}

h1,
h2 {
  color: #80a0ff;
  font-weight: 700;
}

hr {
  border: 0;
  height: 1px;
  background: #929db1;
  margin: 20px 0;
}

ul {
  padding-left: 20px;
}

ol {
  padding-left: 40px;
}

ul li,
ol li {
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #080808;
}

table,
th,
td {
  border: 1px solid #929db1;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

th {
  background: #080808;
  color: #85dc85;
}

a {
  color: #ae81ff;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  text-decoration: underline;
  color: #c678dd;
}

button {
  font-size: 16px;
  font-weight: 700;
  padding: 12px;
  background: #0d1117;
  color: #80a0ff;
  border: 2px solid #74b2ff;
  border-radius: 0 0 10px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

button:hover {
  text-decoration: underline;
}

.skills-list {
  display: flex;
  justify-content: space-between;
}

.download-resume {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}


